.main-deals{
    height: 28em;
    background-image: url(../images/fashion.stump.jpg);
    background-size: cover;
    overflow: hidden;
}

.secondary-deals{
    background-image: url(../images/fashion.speeding-train.jpg);
}