.main-deals{
    height: 28em;
    background-image: url(../images/crafts.brushes.jpg);
    background-size: cover;
    overflow: hidden;
}

.secondary-deals{
    background-image: url(../images/crafts.clay.jpg);
}