html, body{
    font-family: 'minimo_regularregular';
    z-index: 0;
}

header .logo{
    display: inline-block;
    font-family: 'minimobold';
    font-size: 3em;
    margin: 1em;
}

header .logo span{
    background-color: #fcc;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'minimomedium';
}

header ul ul li{
    padding: 1em;
}

header ul ul li:hover{
    background-color: #222;
    color: white;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

.nav-pills>li>a{
    font-size: 1.5em;
    color: black;
    border-radius: 0px;
}

.nav-pills>li>a:hover{
    background-color: black;
    color: white;
}

.banner{
    z-index: 1;
}

.main-deals{
    height: 44em;
    background-image: url(../images/woman.underwater.jpg);
    background-size: cover;
    overflow: hidden;
}
.secondary-deals{
    height: 28em;
    background-image: url(../images/fashion.dog-walking.jpg);
    background-size: cover;
    overflow: hidden;
}
.third-order-deals{
    height: 16em;
    background-image: url(../images/outdoors.woman.jpg);
    background-size: cover;
    background-position-y: -130px;
    overflow: hidden;
}

.fourth-order-deals{
    height: 38em;
    background-image: url(../images/crafts.brushes.jpg);
    background-size: cover;
    background-position-x: -150px;
    overflow: hidden;
}
.last-but-not-least{
    height: 38em;
    background-image: url(../images/woman.taking-picture.jpg);
    background-size: cover;
    overflow: hidden;
}

.main-deals .deal-text,
.secondary-deals .deal-text,
.third-order-deals .deal-text,
.search .deal-text,
.fourth-order-deals .deal-text,
.last-but-not-least .deal-text{
    padding: 0.75em;
    position: absolute;
    bottom: 2em;
    left: 2em;
    width: 50%;
    color: white;
    background-color: rgba(55, 15, 15, 0.7);
}

.sale-items{
    margin-bottom: 5em;
}

.sale-items article{
    min-height: 20em;
    cursor: pointer;
}

.go-to{
    cursor: pointer;
}

.sale-items img{
    background-color: gray;
}

.sale-items h2{
    margin-top: 0;
}

.small-img{
    width: 7em;
    max-height: 20em;
    margin: 0.75em;
}

article{
    padding: 3em;
}

footer{
    margin: 5em 1em;
    background-color: rgba(55,55,55,1);
}

footer li{
    list-style: none;
}