.main-deals{
    height: 28em;
    background-image: url(../images/woman.outdoors.stretching.jpg);
    background-size: cover;
    overflow: hidden;
}

.secondary-deals{
    background-image: url(../images/outdoors.woman.jpg);
}