.main-deals{
    height: 28em;
    background-image: url(../images/art.wall.jpg);
    background-size: cover;
    overflow: hidden;
}

.secondary-deals{
    background-image: url(../images/outside.gulls-in-a-row.jpg);
}