html, body{
    font-family: 'questaregular';
    letter-spacing: 0.12345em;
}

header .logo{
    font-size: 3em;
}

header ul ul li{
    padding: 1em;
}

header ul ul li:hover{
    background-color: #222;
    color: white;
}

a,a:hover,a:active,a:visited,a:link{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-pills>li>a{
    font-size: 1.5em;
    color: black;
    border-radius: 0px;
    padding-top: 1.5em;
}

.nav-pills>li>a:hover{
    background-color: black;
    color: white;
}

.main-deals .deal-text,
.secondary-deals .deal-text,
.third-order-deals .deal-text,
.search .deal-text,
.fourth-order-deals .deal-text,
.last-but-not-least .deal-text{
    padding: 0.75em;
    position: absolute;
    bottom: 2em;
    left: 2em;
    width: 50%;
    color: white;
    background-color: rgba(55, 15, 15, 0.7);
}

.sale-items article{
    margin-bottom: 5em;
    min-height: 40em;
    cursor: pointer;
}

.go-to{
    cursor: pointer;
}

.sale-items img{
    display: block;
}

.sale-items h2{
    margin-top: 0;
}

.small-img{
    max-width: 300px;
    max-height: 300px;
}

section{
    background-color: white;
}

article{
    padding: 1em 3em;
}

footer{
    margin: 5em 1em;
}

footer li{
    list-style: none;
}

.banner{}

.main-deals{
    height: 44em;
    background-image: url(../images/fashion.dog-walking.jpg);
    background-size: cover;
    overflow: hidden;
}
.secondary-deals{
    height: 28em;
    background-image: url(../images/dark.jpg);
    background-size: cover;
    overflow: hidden;
}
.third-order-deals{
    height: 16em;
    background-image: url(../images/dancer.jpg);
    background-size: cover;
    overflow: hidden;
}

.fourth-order-deals{
    height: 38em;
    background-image: url(../images/placeholder-yellow.png);
    background-size: cover;
    background-position-x: -150px;
    overflow: hidden;
}
.last-but-not-least{
    height: 38em;
    background-image: url(../images/placeholder-white.png);
    background-size: cover;
    overflow: hidden;
}

.banner-left-photo,
.banner-right-photo,
.banner-left-painting,
.banner-right-painting,
.banner-left-prints,
.banner-right-prints,
.banner-left-drawing,
.banner-right-drawing{
    height: 18em;
    background-size: cover;
}
.banner-left-photo{
    background-image: url(../images/fashion.speeding-train.jpg);
}
.banner-right-photo{
    background-image: url(../images/outside.gulls-in-a-row.jpg);
}
.banner-left-painting{
    background-image: url(../images/paint.jpg);
}
.banner-right-painting{
    background-image: url(../images/blue.interior.jpg);
}
.banner-left-prints{
    background-image: url(../images/print.jpg);
}
.banner-right-prints{
    background-image: url(../images/dancer.jpg);
}
.banner-left-drawing{
    background-image: url(../images/drawing.jpg);
}
.banner-right-drawing{
    background-image: url(../images/drawing2.jpg);
}