<section class="banner">
  <article class="col-sm-12 col-md-7 main-deals">
    <a ui-sref="photo">
      <div class="deal-text">
        <h2>contemporary photos</h2>
      </div>
    </a>
  </article>
  <article class="col-sm-12 col-md-5 secondary-deals">
    <a ui-sref="painting">
      <div class="deal-text">
        <h2>delectible paint</h2>
      </div>
    </a>
  </article>
  <article class="col-sm-12 col-md-5 third-order-deals">
    <a ui-sref="prints">
      <div class="deal-text">
        <h2>catching prints</h2>
      </div>
    </a>
  </article>
</section>