<section class="banner">
  <article class="col-sm-12 col-md-7 main-deals">
    <a ui-sref="inside.php">
      <div class="deal-text">
        <h2>inner self</h2>
        <p>Spend some time focusing on your inner decor.</p>
      </div>
    </a>
  </article>
  <article class="col-sm-12 col-md-5 secondary-deals">
    <a href="clothing.php">
      <div class="deal-text">
        <h2>clothing</h2>
        <p>clothe yourself modernly!</p>
      </div>
    </a>
  </article>
  <article class="col-sm-12 col-md-5 third-order-deals">
    <a href="outside.php">
      <div class="deal-text">
        <h2>outdoors</h2>
        <p>let nothing stop you</p>
      </div>
    </a>
  </article>
  <article class="col-sm-12 col-md-5 fourth-order-deals">
    <a href="crafts.php">
      <div class="deal-text">
        <h2>crafts</h2>
        <p>not afraid to get your hands dirty?</p>
      </div>
    </a>
  </article>
  <article class="col-sm-12 col-md-7 last-but-not-least">
    <a href="walls.php">
      <div class="deal-text">
        <h2>walls</h2>
        <p>art and posters worth a double-take</p>
      </div>
    </a>
  </article>
</section>